
{% load static %}
{% include "other.html" %}

<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
     <h3> Local_info</h3>
    </a>
    <a href="//localhost:8000/info/Hospitals" class="list-group-item list-group-item-action">Hospitals</a>
    <a href="//localhost:8000/info/Old Age Home" class="list-group-item list-group-item-action">Old Age Home</a>
    <a href="//localhost:8000/info/Schools" class="list-group-item list-group-item-action">Schools</a>
    <a href="//localhost:8000/info/POLICE STATION" class="list-group-item list-group-item-action">POLICE STATION</a>
   
  </div>

{% include "footer2.html" %}